.resizer {
  width: 3px;
  background-color: var(--border-color);
  cursor: col-resize;
  flex-shrink: 0;
  transition: background-color 0.1s;
  position: relative;
}

.resizer::after {
  content: '';
  position: absolute;
  top: 0;
  left: -4px;
  right: -4px;
  bottom: 0;
}

.resizer:hover,
.resizer.dragging {
  background-color: var(--accent-color);
}
